@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

h1, h4, h5, button, p {
  font-family: 'Roboto', sans-serif;
}

.board {
  width: 600px;
}

button {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: none;
}

.my-row {
  display: flex;
  width: fit-content;
  background-color: rgba(33,33,33, 0.9);
}

.tile {
  width: 35px;
  height: 35px;
  margin: 3px;
  color: white;
}

.tile--color__tl {
  background-color:#1565C0;
}

.tile--color__dl {
  background-color:#2E7D32;
}

.tile--color__dw {
  background-color:#EF6C00;
}

.tile--color__tw {
  background-color:#C62828;
}

.tile--color__black {
background: rgb(66,66,66);
background: linear-gradient(180deg, rgba(66,66,66,1) 19%, rgba(97,97,97,1) 72%);
}

.tile-input {
  display: none;
}

.word-table {
  border: none;
  border-collapse: collapse;
}

.word-table tr:hover, .word-table-row-selected {
  background-color: #E0E0E0;
  cursor: pointer;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
