@import "~bulma/css/bulma.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

h1, h4, h5, button, p {
  font-family: 'Roboto', sans-serif;
}

.board {
  width: 600px;
}

button {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: none;
}

.my-row {
  display: flex;
  width: fit-content;
  background-color: rgba(33,33,33, 0.9);
}

.tile_heading {
  margin-left: 16px;
  margin-right: 16px;
}

.board-tile {
  width: 35px;
  height: 35px;
  margin: 3px;
  color: white;
}

.board-tile--color__tl {
  background-color:#1565C0;
}

.board-tile--color__dl {
  background-color:#2E7D32;
}

.board-tile--color__dw {
  background-color:#EF6C00;
}

.board-tile--color__tw {
  background-color:#C62828;
}

.board-tile--color__black {
  background: rgb(66,66,66);
  background: linear-gradient(180deg, rgba(66,66,66,1) 19%, rgba(97,97,97,1) 72%);
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
